.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
	height:auto;
}
.content-header h1, .breadcrumb-item{
	text-transform: capitalize;
}
.mgauto{
	margin:auto !important;
}
.custom-file-input1 {
    height: 22px;
    width: 32px;
    position: absolute;
    left: 54%;
    bottom: 0px;
}
.custom-file-input1::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input1::before {
  display: inline-block;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size:15pt;
}
